/* style.css */



/* Apply colors to the first, second, and third dd elements following each dt in the same dl */
dt + dd { color: gold; }
dt + dd + dd { color: silver; }
dt + dd + dd + dd { color: #7c5025; }


/* define classes */
.underline{
    text-decoration: underline;
}

.my-favorites-section dl{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(168, 126, 126);
}

.favorites-container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

.category {
            flex: 1;
            box-sizing: border-box;
            padding: 10px;
            background-color: rgb(11, 11, 11); 
            border: 5px solid #321642;
            flex-wrap: nowrap;
        }

.sections {
            flex: 1;
            box-sizing: border-box;
            padding: 10px;
            background-color: rgb(143, 126, 168); 
            border: 5px solid #321642;
            flex-wrap: nowrap;
        }
        
.title {
            font-weight: bold;
            color: #DA627D;
        }



/*---------------------------------------------------------------------*/


/* Define Selectors */

body {
    font-family: Arial, sans-serif;
    background-color: #D2D8B3;
    margin: calc(80px - 1.5vw);
 }

h1{
    color: #DA627D;
    font-size: calc(1.5vw + 12px);
   /* text-decoration: underline;  */
}
h2{
    text-align: center;
}
h3{
    text-decoration: underline;
    ;
}
p {
    color: #470063;
    font-size:  calc(1.5vw + 16px);
}
dl {
    column-count: 2;
    column-gap: 20px; /* Adjust the gap between columns */
}

/* Add some padding and margin for better spacing */
dl, dt, dd {
    margin: 10;
    padding: 10;
}

section {
    background-color: #D2D8B3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    gap: 50px;
}


/*---------------------------------------------------------------------*/


/* Adjustements for smaller screens */

@media screen and (max-width: 605px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: calc(0.25vw + 16px);
    }

    p {
        font-size: calc(0.25vw + 12px);
    }

    h1, h2, h3 {
        margin-bottom: 10px;
    }
}
