


/*___---style.css---___ */



/*---------------------------------------------------------------------*/



/* define classes */
/*----------------*/


.underline{
    text-decoration: underline;
}

.text-shadow{
    text-shadow: 2px 2px 4px #321642
}

.my-favorites-section dl{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(168, 126, 126);
}

.intro{ 
            flex: 1;
            box-sizing: border-box;
            padding: 10px;
            background-color: rgb(81, 56, 194); 
            border: 15px solid #321642;
            

}
.category {
            flex: 1;
            box-sizing: border-box;
            padding: 10px;
            background-color: rgb(11, 11, 11); 
            border: 5px solid #321642;

            font-size: calc(0.5vw + 5px);
        }

.sections {
            flex: 1;
            box-sizing: border-box;
            padding: 10px;
            background-color: rgb(143, 126, 168); 
            border: 5px solid #321642;
            
        }
        
.title {
            font-weight: bold;
            color: #DA627D;
        }






/*---------------------------------------------------------------------*/



/* Define Selectors */
/*------------------*/

body {
    font-family: Helvetica, sans-serif;
    background: url('images/purple_moving_tunnel.gif');
    margin: calc(80px - 1.5vw);
    padding: 50px;
}

div {
    break-inside: avoid; /* soloution to keep the 3 values with their title */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    gap: 50px;
}

h1{
    color: #DA627D;
    font-size: calc(1.5vw + 25px);
    text-shadow: 2px 2px 4px #321642
   /* text-decoration: underline;  */
}

h2{
    text-align: center;
    text-shadow: 2px 2px 4px #321642;
    font-size: calc(1.5vw + 16px);
}

h3{
    text-decoration: underline;
    font-size: calc(1.5vw +5px);
}

p {
    color: #000000;
    font-size:  calc(1.5vw + 6px);
}

dl {
    column-count: 3;
    column-gap: 5px; /* Adjust the gap between columns */
    line-height: 1;
    margin-bottom: 10px;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
}

dt{
    margin-inline-start: 0%;
    margin-inline-end: 0%;
}

dd{ 
    font-size: calc(10px);
    margin-inline-start: 0%;
    margin-inline-end: 0%;
}

/* Apply colors to the first, second, and third dd elements following each dt in the same dl */

dt + dd { color: gold; }
dt + dd + dd { color: silver; }
dt + dd + dd + dd { color: #7c5025; }






/*---------------------------------------------------------------------*/



/* Adjustements for smaller screens */
/*----------------------------------*/


@media screen and (max-width: 605px) {
    body {
        padding: 5px;
        margin: calc(20px - 1.5vw);
    }
    dl {
    column-count: 2;
    column-gap: 3px; /* Adjust the gap between columns */
    line-height: 1;
    margin-bottom: 10px;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
}

    h1 {font-size: calc((1.5vw + 25px);}

    h2 {font-size: calc(1.5vw + 16px)}

    h3 {font-size: calc(1.5vw +5px)}

    dd{font-size: calc(1.5vw + 5px);}


    p {font-size: calc(1.5vw + 5px)}

    h1, h2, h3 {
        margin-bottom: 5px;
    }

    .image_adjust {
    overflow: hidden;
    width: 80vw; /* Make all images fill their container width */
    height :auto; /* Maintain the images' aspect ratio */
    max-width: 100%; 
    /*border: 10px solid #321642;*/
}

}






/*---------------------------------------------------------------------*/



/* set image to a percenatge of screen width + keep proportions */
/*--------------------------------------------------------------*/




.image_adjust {
    overflow: hidden;
    width: 60vw; /* Make all images fill their container width */
    height :auto; /* Maintain the images' aspect ratio */
    max-width: 100%;
    border: 10px solid #321642;
}






/*---------------------------------------------------------------------*/


